---
import Layout from "../../layouts/Layout.astro";
import { blipsStore } from "../../stores/radarStore";
import { match, Pattern } from "ts-pattern";

export async function getStaticPaths() {
  const blips = blipsStore.get();
  return blips.map((blip) => {
    return {
      params: { blipId: blip.id },
    };
  });
}

const blips = blipsStore.get();
const blipId = Astro.params.blipId;

const blip = match(blipId)
  .with(Pattern.string, (id) => blips.find((b) => b.id === id))
  .otherwise(() => undefined);
---

<Layout>
  <h1 slot="left">
    {blip?.name}
  </h1>
  <h2 slot="left">{blip?.hasAdr ? "ADR link >" : "await adr"}</h2>
  <h1 slot="center">
    {blip?.description}
  </h1>
  <h1 slot="right">
    {blip?.ring}
  </h1>
</Layout>
