---
import client from "../lib/apollo-client";
import { gql } from "@apollo/client";

// Styles
import "../styles/main.css";

// Components
import CartRow from "../components/CarRow.astro";

import type { CarItem } from "../data/types";

const { data, loading } = await client.query({
  query: gql`
    query Car {
      car {
        id
        make
        model
      }
    }
  `,
});

const carItems: Array<CarItem> = data.car;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro and Graphql</title>
  </head>
  <body>
    <h1>Welcome to Astro Cars</h1>
    <p>Fastest furious cars below</p>

    {loading && <p>Loading your cars...</p>}

    {
      !loading && (
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Make</th>
              <th>Model</th>
            </tr>
          </thead>
          <tbody>
            {carItems.map((item) => (
              <CartRow item={item} />
            ))}
          </tbody>
        </table>
      )
    }
  </body>
</html>
