---
import Radar from "@components/Radar";
import GlobalStyles from "@components/GlobalStyles.astro";
import { initializeBlipsStore } from "@stores/init";
import { blipsStore } from "@stores/radarStore";
import Layout from "@layouts/Layout.astro";
import QuadrantNav from "@components/QuadrantNav.astro";
GlobalStyles;
initializeBlipsStore();
const blips = blipsStore.get();
---

<Layout>
  <h1 slot="left">Welcome to an Astro tech radar</h1>
  <QuadrantNav slot="center" />
  <Radar slot="center" blips={blips} client:load />

  <h1 slot="right">Blips</h1>
</Layout>
